<div >
  <form class="form " ng-submit="filtrar()" name="form" role="form" class="col-sm-12">
  <fieldset>
  <legend>Histórico de rentas</legend>
   <div class="form-group col-sm-6">
   <label for="anticipo" class="col-sm-4 control-label">Fecha de inicial</label>
        <div class="col-md-8">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="reporte.fecha_inicial"  is-open="fecha_inicial" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" current-text="Hoy" clear-text="Borrar" close-text="Cerrar" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'fecha_inicial')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
   <div class="form-group col-sm-6">
   <label for="anticipo" class="col-sm-4 control-label">Fecha final</label>
        <div class="col-md-8">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="reporte.fecha_final"  is-open="fecha_final" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" current-text="Hoy" clear-text="Borrar" close-text="Cerrar" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'fecha_final')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
       <div class="form-group col-sm-6">
   <label for="anticipo" class="col-sm-4 control-label">Tipo de fecha</label>
        <div class="col-md-8">
        <select ng-model="reporte.tipo_fecha" class="form-control" name="tipo_fecha" >
          <option value="fecha_apartado">Fecha de apartado</option>
          <option value="fecha_entrega">Fecha de entrega</option>
          <option value="fecha_devolucion">Fecha de devolución</option>
        </select>
        </div>
    </div>
       <div class="form-group col-sm-6">
   <label for="anticipo" class="col-sm-4 control-label">Estatus</label>
        <div class="col-md-8">
          <select ng-model="reporte.status" class="form-control" name="status" >
            <option value="-1">Todos</option>
            <option value="0">Cancelado</option>
            <option value="1">Apartado</option>
            <option value="2">Entregado al cliente</option>
            <option value="3">Devuelto a tienda</option>
          </select>
        </div>
    </div>
    <div class="col-sm-12">
<button type="submit" class="btn btn-primary">Mostrar</button>
</div>
<table ng-show="items.length" class="table table-condensed table-cursor table-bordered table-hover">
  <thead>
    <tr >
    <th>No. de ticket</th>
      <th >Nombre</th>
      <th >Fecha de apartado</th>
      <th >Fecha de entrega</th>
      <th >Fecha de devolución</th>
      <th style="width:10%">Artículos</th>
       <th style="width:10%">Estatus</th>
       <th style="width:10%">Anticipo</th>
      <th style="width:10%">Importe</th>
    </tr>
  </thead>
  <tbody>
    <tr   ng-repeat="item in items track by $index" ng-click="getTicket(item)" ng-class="getColor(item)">
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{formatDate(item.fecha_apartado)}}</td>
      <td>{{formatDate(item.fecha_entrega)}}</td>
      <td>{{formatDate(item.fecha_devolucion)}}</td>
      <td>{{item.articulos}}</td>
      <td>{{item.status}}</td>
      <td>{{item.anticipo}}</td>
      <td class="text-right">{{item.total.toFixed(2)}}</td>
    </tr>
  </tbody>
</table>

    </div>
  </form>
</div>
