<h3>{{title}}</h3>
<div >
  <form class="form " name="form" role="form" class="col-sm-12" ng-submit="guardar()">
    <div class="form-group col-sm-6" >
      <label for="codigo" class="col-sm-4 control-label">Código</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="codigo" ng-blur="buscar('codigo')" ng-model="prenda.codigo"  required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="estilo" class="col-sm-4 control-label">Estilo</label>
      <div class="col-sm-8">
      <select ng-model="prenda.estilo" class="form-control" name="estilo" ng-options="estilo.id as estilo.estilo for estilo in estilos">
        <option value="">Seleccione estilo</option>
      </select>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Talla</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="talla" ng-model="prenda.talla"  required>
      </div>
    </div>
       <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Color</label>
      <div class="col-sm-8">
      <select ng-model="prenda.color" class="form-control" name="color" ng-options="color.id as color.color for color in colores">
          <option value="">Seleccione color</option>
        </select>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Cantidad Nuevos</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^(0|[1-9][0-9]*)$/" pattern="^(0|[1-9][0-9]*)$" name="nuevos" class="form-control numeric" id="talla" ng-model="prenda.nuevos" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Cantidad Usados</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^(0|[1-9][0-9]*)$/" name="usados" pattern="^(0|[1-9][0-9]*)$" class="form-control numeric" id="talla" ng-model="prenda.usados" required >
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Costo de venta nuevo</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" class="form-control numeric" id="talla" ng-model="prenda.costo_nuevo" required >
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Costo de venta usado</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" name="costo_usado" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" class="form-control numeric" id="talla" ng-model="prenda.costo_usado" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="talla" class="col-sm-4 control-label">Costo de renta</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" class="form-control numeric" id="talla" ng-model="prenda.costo_renta" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button ng-show="prenda.id" type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
      </div>
    </div>
  </form>
</div>
<div class="input-group col-sm-12" style="padding-top:20px">
  <span class="input-group-addon">
    <i style="font-size: 20px;" class="fa fa-search"></i></span>
    <input class="form-control" ng-model="query" ng-change="search()" id="search" type="text" >
  </div>
  <div class="content-table">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th ng-repeat="item in headers"><a ng-click="sort_by(item)"><i class="{{item.class}}"></i></a> {{item.text}}</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tfoot>
        <td colspan="6">
          <div class="pull-right">
            <ul class="pagination">
              <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Anterior</a>
              </li>
              <li ng-repeat="n in range(pagedItems.length)"
              ng-class="{active: n == currentPage}"
              ng-click="setPage()">
              <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
              <a href ng-click="nextPage()">Siguiente »</a>
            </li>
          </ul>
        </div>
      </td>
    </tfoot>
    <tbody>
      <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
        <td>{{item.codigo}}</td>
        <td>{{item.estilo_desc}}</td>
        <td>{{item.talla}}</td>
        <td>{{item.color_desc}}</td>
        <td>{{item.nuevos}}</td>
        <td>{{item.usados}}</td>
        <td class="text-center" style="width:30px;"><button ng-click="edit(item)" class="btn btn-primary edit-button"><i class="fa fa-pencil edit-button"></i></button></td>
        <td class="text-center" style="width:30px;"><button ng-click="remove(item)" class="btn btn-danger edit-button"><i class="fa fa-trash-o edit-button"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
