<div >
  <form class="form " name="form" role="form" class="col-sm-12">
  <fieldset>
  <legend>Datos del cliente</legend>
    <div class="form-group col-sm-6" >
      <label for="nombre" class="col-sm-4 control-label">Nombre</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="nombre"  ng-model="cliente.nombre"  required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="calle" class="col-sm-4 control-label">Calle</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="calle" ng-model="cliente.calle" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="colonia" class="col-sm-4 control-label">Colonia/Fracc.</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="colonia" ng-model="cliente.colonia"  required>
      </div>
    </div>
       <div class="form-group col-sm-6">
      <label for="ciudad" class="col-sm-4 control-label">Ciudad</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="ciudad" ng-model="cliente.ciudad" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="telefono" class="col-sm-4 control-label">Teléfono</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^(0|[1-9][0-9]*)$/" pattern="^(0|[1-9][0-9]*)$" name="nuevos" class="form-control numeric" id="telefono" ng-model="cliente.telefono">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="anticipo" class="col-sm-4 control-label">Anticipo</label>
      <div class="col-sm-8">
        <input type="text"  ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"  class="form-control numeric" id="anticipo" ng-model="cliente.anticipo" required >
      </div>
    </div>
    </fieldset>
    <fieldset>
    	<legend>Artículos Rentados</legend>
    </fieldset>
       <div class="form-group">
      <div class="col-sm-12">
      	<button type="submit" ng-click="agregarArticulo()" class="btn btn-default"><i class="fa fa-plus"></i> Agregar artículo</button>
        <button type="submit" ng-show="items.length>0" class="btn btn-primary">Guardar</button>
      </div>

      <div  ng-repeat="item in items" class="col-sm-12">


      <div class="col-sm-1"><button type="button" class="btn btn-sm btn-danger"><i class="fa fa-minus"></i></button></div>
      <div class="col-sm-1"><input type="text" class="form-control"></div>

      	<div class="col-sm-3">
      		<ui-select  ng-change="buscarPrenda(item,articulos[$index],$index)" name="tipo" ng-model="articulos[$index].tipo">
      		 <ui-select-match placeholder="Tipo de artículo">{{$select.selected.description}}</ui-select-match>
      		  <ui-select-choices repeat="item in prendas | filter: $select.search">
				<small>{{item.description}}</small>
				</ui-select-choices>
      		</ui-select>
      	</div>


      	<div class="col-sm-2" ng-show="codigos[$index].length">
            <ui-select  name="codigo"  ng-model="articulos[$index].codigo">
                <ui-select-match placeholder="Código">{{$select.selected.codigo}}</ui-select-match>
                <ui-select-choices repeat="item in codigos[$index] | filter: $select.search">
            <small>{{item.codigo}}</small>
            </ui-select-choices>
      	    </ui-select>
        </div>
      	<div class="col-sm-2" ng-show="estilos[$index].length">
            <ui-select  name="estilo"  ng-model="articulos[$index].estilo">
                <ui-select-match placeholder="Estilo">{{$select.selected.estilo}}</ui-select-match>
                <ui-select-choices repeat="item in estilos[$index] | filter: $select.search">
            <small>{{item.estilo}}</small>
            </ui-select-choices>
            </ui-select>
        </div>
      	<div class="col-sm-2" ng-show="colores[$index].length">
      	<ui-select  name="color"  ng-model="articulos[$index].color">
                <ui-select-match placeholder="Color">{{$select.selected.color}}</ui-select-match>
                <ui-select-choices repeat="item in colores[$index] | filter: $select.search">
            <small>{{item.color}}</small>
            </ui-select-choices>
      	    </ui-select>
      	</div>
      	<div class="col-sm-2" ng-show="tallas[$i].length"><select class="form-control" name="talla"></select></div>


    </div>
  </form>
</div>
