<div >
  <form class="form " name="form" role="form" class="col-sm-12">
  <fieldset>
  <legend>Datos del cliente</legend>
    <div class="form-group col-sm-6" >
      <label for="nombre" class="col-sm-4 control-label">Nombre</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="nombre"  ng-model="cliente.nombre"  required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="calle" class="col-sm-4 control-label">Calle</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="calle" ng-model="cliente.calle" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="colonia" class="col-sm-4 control-label">Colonia/Fracc.</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="colonia" ng-model="cliente.colonia"  required>
      </div>
    </div>
       <div class="form-group col-sm-6">
      <label for="ciudad" class="col-sm-4 control-label">Ciudad</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="ciudad" ng-model="cliente.ciudad" required>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="telefono" class="col-sm-4 control-label">Teléfono</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^(0|[1-9][0-9]*)$/" pattern="^(0|[1-9][0-9]*)$" name="nuevos" class="form-control numeric" id="telefono" ng-model="cliente.telefono">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="anticipo" class="col-sm-4 control-label">Anticipo</label>
      <div class="col-sm-8">
        <input type="text"  ng-pattern="/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"  class="form-control numeric" id="anticipo" ng-model="cliente.anticipo" required >
      </div>
    </div>
    </fieldset>

    <fieldset>
    	<legend>Artículos Rentados</legend>
    </fieldset>
       <div class="form-group">
      <div class="col-sm-12">
      	<button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Agregar artículo</button>
        <button type="submit" ng-show="items.length>0" class="btn btn-primary">Guardar</button>
      </div>
      <table ng-show="items.length>0" class="table table-striped table-condensed table-hover">
      <thead>
    	  <tr>
		      <th style="width: 10%">Cantidad</th>
		      <th style="width: 20%">Tipo de artículo</th>
		      <th style="width: 20%">Código</th>
		      <th style="width: 20%">Estilo</th>
		      <th style="width: 20%">Color</th>
		      <th style="width: 10%">Talla</th>
	      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in items">
      	<td><input type="text" class="form-control"></td>
      	<td>
      		<ui-select  name="tipo" ng-model="articulo.tipo">
      		 <ui-select-match placeholder="Tipo de prenda">{{$select.selected.description}}</ui-select-match>
      		  <ui-select-choices repeat="item in prendas | filter: $select.search">
				<small>{{item.description}}</small>
				</ui-select-choices>
      		</ui-select>
      	</td>
      	<td><select ng-disabled="articulo.tipo!='Sacos'" class="form-control" name="codigo"></select></td>
      	<td><select class="form-control" name="estilo"></select></td>
      	<td><select class="form-control" name="color"></select></td>
      	<td><select class="form-control" name="talla"></select></td>
      </tr>
      </tbody>
      </table>
      {{articulo.tipo}}
    </div>
  </form>
</div>
