  <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header modal-table">
            <h3 class="modal-title">Seleccione prenda</h3>
        </div>
        <div class="modal-body">
        <alert ng-show="$parent.message_error" type="danger" >{{$parent.message_error}}</alert>
          <div class="form-group">
          <label for="cantidad" class="col-sm-1">Cantidad</label>
          <div class="col-sm-1">
            <input type="number" ng-model="$parent.cantidad" name="cantidad" id="cantidad" class="form-control text-right">
          </div>
          </div>
        <div class="input-group col-sm-12" style="padding-top:20px">
          <span class="input-group-addon">
          <i style="font-size: 20px;" class="fa fa-search"></i></span>
          <input class="form-control" ng-model="$parent.query" ng-change="search()" id="search"  type="text" >
        </div>

          <div class="content-table">
          <table class="table table-bordered table-condensed table-hover">
          <thead>
          <tr>
            <th  ng-repeat="item in headers" ><a ng-click="sort_by(item)"><i class="{{item.class}}"></i></a> {{item.text}}</th>
                   <th>Agregar</th>
          </tr>
          </thead>
            <tfoot>
                            <td colspan="8">
                                <div class="pull-right">
                                    <ul class="pagination">
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Anterior</a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Siguiente »</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tfoot>

          <tbody>
            <tr  ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                 <td ng-repeat="column in columns">{{item[column]}}</td>
              <td class="text-center" style="width:30px;"><button ng-click="add(item)" class="btn btn-primary edit-button"><i class="fa fa-plus"></i></button></td>
            </tr>
          </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
        </div>
     </script>

<div >
  <form class="form " ng-submit="imprimeTicket()" name="form" role="form" class="col-sm-12">
  <fieldset>
  <legend><button type="button" ng-click="historyBack()" class="btn btn-primary btn-circle back-button" ng-show="history"><i class="fa fa-arrow-circle-o-left"></i></button> Datos del cliente</legend>
    <div class="form-group col-sm-6" >
      <label for="nombre" class="col-sm-4 control-label">Nombre</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="nombre"  ng-model="cliente.nombre"  required  ng-required="true">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="calle" class="col-sm-4 control-label">Calle</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="calle" ng-model="cliente.calle" required  ng-required="true">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="colonia" class="col-sm-4 control-label">Colonia/Fracc.</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="colonia" ng-model="cliente.colonia"  required  ng-required="true">
      </div>
    </div>
       <div class="form-group col-sm-6">
      <label for="ciudad" class="col-sm-4 control-label">Ciudad</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="ciudad" ng-model="cliente.ciudad" required  ng-required="true">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="telefono" class="col-sm-4 control-label">Teléfono</label>
      <div class="col-sm-8">
        <input type="text" ng-pattern="/^(0|[1-9][0-9]*)$/" pattern="^(0|[1-9][0-9]*)$" name="nuevos" class="form-control numeric" id="telefono" ng-model="cliente.telefono">
      </div>
    </div>
        </fieldset>
    <fieldset>
      <legend>Artículos Apartados</legend>
    </fieldset>
       <div class="form-group">
      <div class="col-sm-12">
        <div class="col-sm-3">
          <ui-select   name="tipo" ng-model="articulo.tipoPrenda">
           <ui-select-match placeholder="Tipo de artículo">{{$select.selected.description}}</ui-select-match>
            <ui-select-choices repeat="item in prendas | filter: $select.search">
        <small>{{item.description}}</small>
        </ui-select-choices>
          </ui-select>
        </div>
        <button type="button" ng-click="agregarArticulo()" class="btn btn-default"><i class="fa fa-plus"></i> Agregar artículo</button>
        <button type="submit" ng-show="articulos.length" class="btn btn-primary">Imprimir Ticket</button>
      </div>

<table ng-show="articulos.length" class="table table-bordered table-condensed table-hover table-ticket">
  <thead>
    <tr>
      <th></th>
      <th style="width:10%">Nombre</th>
      <th style="width:10%">Descuento (%)</th>
      <th style="width:10%">Cantidad</th>
      <th>Descripción</th>
      <th>Observaciones</th>
      <th>Costo unitario</th>
      <th>Subtotal</th>
      <th>Subtotal con descuento</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="articulo in articulos track by $index">
      <td><button type="button" class="btn btn-xs btn-danger fa fa-times" ng-click="borrarArticulo($index)"></button></td>
      <td ><input type="text" value="" class="form-control"  ng-model="articulo.nombre"></td>
      <td ><input type="number" value="" class="form-control"  min="0" max="100" ng-model="articulo.descuento" ng-change="calculaDescuento(articulo)"></td>
      <td >{{articulo.cantidadElegida}}</td>
      <td> {{articulo.completeDescription}}</td>
      <td><textarea class="form-control " ng-model="articulo.observaciones"></textarea></td>
      <td style="text-align:right">{{articulo.costo_renta}}</td>
      <td style="text-align:right">{{articulo.subtotal}}</td>
      <td style="text-align:right">{{articulo.sub_desc}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" >Total</td>
      <td style="text-align:right">{{total}}</td>
      <td style="text-align:right">{{total_desc}}</td>
    </tr>
  </tfoot>
</table>

    </div>
  </form>
</div>
