/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */
@border:3px;
@azul:#1C9EFE;
@sansFontFamily: 'Roboto', sans-serif;
@brand-primary:@azul;
@navbar-inverse-bg:#3D4A5D;
@brand-danger: #f00;
@sidebar: #6C7A89;

@sidebar-buttons:#F2F1EF; 
@sidebar-buttons2:#D2D7D3; 
@sidebar-buttons-font: #333; //989dac
@sidebar-buttons-font2: white;
@sidebar-buttons-font3: #333; //hover active
@background-body: #FFF;
/*@gray-light:#fff;*/
