/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */
@border:3px;
@azul:#3498db;
@sansFontFamily: 'Roboto', sans-serif;
@brand-primary:@azul;
@navbar-inverse-bg:#3D4A5D;
@brand-danger: #f00;
@sidebar: #dcdcdc;

@sidebar-buttons:#f9f9f9;
@sidebar-buttons2:#fff; 
@sidebar-buttons-font: #333; //989dac
@sidebar-buttons-font2: #333;
@sidebar-buttons-font3: #333; //hover active
@background-body: #f4f4f4;
/*@gray-light:#fff;*/
