<div >
  <form class="form " ng-submit="guardaStatus()" name="form" role="form" class="col-sm-12">
  <fieldset>
  <legend><button type="button" ng-click="historyBack()" class="btn btn-primary btn-circle back-button" ng-show="history"><i class="fa fa-arrow-circle-o-left"></i></button> Estado de renta</legend>
    <div class="form-group col-sm-4 col-md-3 col-lg-4" >
      <label for="id" class="col-sm-6 control-label">Número de ticket</label>
      <div class="col-sm-6">
        <input type="text"  ng-blur="consultaTicket()" class="form-control text-center" id="id"  ng-model="ticket.id"  required  ng-required="true">
      </div>
    </div>
   <div ng-show="items.length" class="btn-group col-sm-6 col-md-8 col-lg-6 ">
   <label class="btn btn-danger"  ng-model="tick.status" btn-radio="0">Cancelado</label>
        <label class="btn btn-primary" ng-model="tick.status" btn-radio="1">Apartado</label>
        <label class="btn btn-primary" ng-model="tick.status" btn-radio="2">Entregado al cliente</label>
        <label class="btn btn-primary" ng-model="tick.status" btn-radio="3">Devuelto a tienda</label>
    </div>
    <div class="col-sm-2 col-md-1 col-lg-2">
    <button type="button"  ng-show="items.length" ng-click="guardaStatus()" class="btn btn-primary">Guardar</button>
    </div>
</fieldset>
<p>{{error}}</p>
<div ng-show="items.length">
<div class="col-sm-6">
	<div><strong>Nombre:</strong> {{tick.tnombre}}</div>
	<div><strong>Calle:</strong> {{tick.calle}}</div>
	<div><strong>Colonia:</strong> {{tick.colonia}}</div>
	<div><strong>Ciudad:</strong> {{tick.ciudad}}</div>
	<div><strong>Teléfono:</strong> {{tick.telefono}}</div>
  <div><strong>Pendiente de pago:</strong> {{tick.status===3? 0: total_desc-tick.anticipo}}</div>
	</div>
	<div class="col-sm-6">
	<div><strong>Anticipo:</strong> {{tick.anticipo}}</div>
	<div><strong>Estatus actual:</strong> {{tick.status_desc}}</div>
	<div><strong>Fecha de apartado:</strong> {{formatDate(tick.fecha_apartado)}}</div>
	<div><strong>Fecha de entrega:</strong> {{formatDate(tick.fecha_entrega)}}</div>
	<div><strong>Fecha de devolución:</strong> {{formatDate(tick.fecha_devolucion)}}</div>
	</div>
</div>
<table ng-show="items.length" class="table table-bordered table-condensed table-hover table-ticket">
  <thead>
    <tr>

      <th style="width:10%">Nombre</th>
      <th style="width:10%">Descuento (%)</th>
      <th style="width:10%">Cantidad</th>
      <th>Descripción</th>
      <th>Observaciones</th>
      <th>Costo unitario</th>
      <th>Subtotal</th>
      <th>Subtotal con descuento</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="articulo in items track by $index">
      <td >{{articulo.nombre}}</td>
      <td >{{articulo.descuento}}</td>
      <td >{{articulo.cantidadElegida}}</td>
      <td> {{articulo.completeDescription}}</td>
      <td>{{articulo.observaciones}}</td>
      <td style="text-align:right">{{articulo.costo_renta}}</td>
      <td style="text-align:right">{{articulo.subtotal}}</td>
      <td style="text-align:right">{{articulo.sub_desc}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total</td>
      <td style="text-align:right">{{total}}</td>
      <td style="text-align:right"><strong>{{total_desc}}</strong></td>
    </tr>
  </tfoot>
</table>
</form>
</div>
